
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Libre+Baskerville&display=swap');



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/scenery.jpg') no-repeat;
    background-size: cover;

}

.general-container{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-height: 80vh;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 3%;
    border-radius: 20px;
}

header {
    color: #0070bf; 
    padding: 1vh;
    text-align: center;
    margin-bottom: 2%;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    display: inline-block;
}


.content-container{
    display: flex;
    justify-content: space-evenly;
    
}

.user-information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-information{
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.trip-info{
margin-bottom: 10px;
}

.trip-info label {
    font-weight: bold;
    color: #333;
}

.trip-info span {
    color: #555;
}

.trip-description {
    margin-top: 10px;
}

.trip-description p {
    color: #666;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.reserve-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.reserve-button:hover {
    background-color: #2980b9;
}

input {
    width: 100%;
    padding: 10px;
    margin:10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.total-cost{
    align-self: flex-start;
    margin-bottom: 5%;
}


@media (max-width: 1250px) {
    
    .content-container{
        flex-direction: column;
        
        
    }

    .user-information {

        width: 50%;
        align-self: center;
    }
    
    .trip-information{
        width: 80%;
        align-self: center;
        margin-top:5% ;
    }
}

@media (max-width: 720px) {
    
    .content-container{
        
        width: 100%;
        
    }

    .user-information {
        width: 90%;
        
    }
    
    .trip-information{
        width: 90%;
    }
    .trip-info{
        font-size: 12px;
    }
    .trip-description p {
        font-size: 12px;
    }

    input {
        font-size: 12px;
    }
}