@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Libre+Baskerville&display=swap');



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/scenery.jpg') no-repeat;
    background-size: cover;

}

.general-container{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-height: 80vh;
    width: 1fr 1fr;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 3%;
    border-radius: 20px;
}

header {
    color: #0070bf; 
    padding: 1vh;
    text-align: center;
    margin-bottom: 2%;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    display: inline-block;
}

.hello-text{
    align-self: flex-end;
    margin:0 20% 2% 0;
}


.filter-container {
    display: grid;
    margin: 0 15%;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-areas: 
    "reset dep-dropdown arr-dropdown agency-dropdown"
    "search-bar date-fly date-ret slider";
    gap: 1%;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

button {
    padding: 8px 8px 8px 8px; /* Adjust padding to make space for the icon */
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.search-bar {
    width: 100%;
    position: relative;
    grid-area: search-bar;
    align-self: flex-end;
}

.search-bar button {
    background-color: #2ecc71; /* Set your desired button color */
    color: #ffffff;

}

.reserve-button{
    background-color: #0070bf;
    color: white;
    width: 15%;
    align-self: flex-end;
}

#reset-cont{
    grid-area: reset;
    align-self: flex-end;
    width: 100%;
}
#reset-button{
    background-color: red;
    color: #ffffff;
}

.dropdown {
    padding: 8px;
    box-sizing: border-box;
}

.slider-container {
    align-self: flex-end;
    padding: 0 12px;
    box-sizing: border-box;
}

.slider {
    width: 100%;
}

.slider-label {
    text-align: center;
    font-size: 12px;
}

.date-picker-container {
    box-sizing: border-box;
    align-self: flex-end;
}

.date-picker {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.date-picker-label {
    font-size: 12px;
    display: block;
}

.content-container{
    max-height: 40vh;
    overflow: auto;
    display: grid;
    margin: 7% 10%;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}


.trip-container {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    font-size: 12px;
  }

  .trip-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

  .trip-description {
    color: black;
    margin:10px 0 10px 0;
  }
  
.reserve-radio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;

}

.search-bar button,
#reset-button,
#exit-button {
    padding: 8px; /* Adjust padding to make the button smaller */
    font-size: 14px; /* Adjust font size to make the text smaller */
    border-radius: 8px; /* Add some border-radius for a softer look */
    width: 100%;
}

#search-button,
#reset-button,
#exit-button {
    background-color: #3498db; /* Set your desired button color */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

#search-button:hover,
#reset-button:hover,
#exit-button:hover {
    background-color: #2980b9; /* Change button color on hover */
}

/* Styles for smaller screens */
@media screen and (max-width: 900px) {
    .filter-container {
        display: none; /* Hide filter container on smaller screens */
    }

    .filter-button {

        display: block;
        margin: 10px;
        width: 60px;
        padding: 5px 5px;
        background-color: #0070bf;
        border: 5px;
        border-color: black;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 15px;
        
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20%;
        overflow-y: scroll;
        margin-right: 5%;
        margin-left: 5%;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .reserve-button{
        background-color: #0070bf;
        color: white;
        width: 100%;
        align-self: flex-end;
    }

    .content-container{
        max-height: 40vh;
        overflow: auto;
        display: grid;
        margin: 7% 10%;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
    }
    .search-bar button,#reset-button,
#exit-button {
    padding: 8px; /* Adjust padding to make the button smaller */
    font-size: 14px; /* Adjust font size to make the text smaller */
    border-radius: 8px; /* Add some border-radius for a softer look */
    width: 80%;
}

   
}


